.contents {
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(20px, 2.78vw, 40px);
}

.megaphone {
    max-width: 600px;
    min-width: 50px;
}

.megaphone img {
    width: 100%;
}

.book {
    color: #F3F3F3;
    padding: 20px 35px;
    background-color: #191A23;
    border-radius: 14px;
}

.companies {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.companies a {
    filter: grayscale(100%);
}

/* DESKTOP */
@media screen and (min-width: 950px) {

    .megaphone {
        order: 2;
    }

}

/* MOBILE */
@media screen and (max-width: 950px) {

    

}