body {
    text-align: center;
    margin: 20px 80px;
}

a {
    text-decoration: none;
    color: rgb(0, 200, 0);
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 5 / 4;
}

.contents {
    width: 100%;
    gap: 30px;
}

.container {
    width: 33.33%;
    flex-direction: column;
    margin-top: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    top: -50px;
}

h1 {
    margin: 0;
}

p {
    max-width: 600px;
}

.box p {
    max-width: 300px;
}