body {
    font-family: sans-serif;
}

.contents {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    max-width: 80rem;
}

.sectionimg {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 1rem;
}

.greece {
    background-image: url('../images/greece.jpeg');
}

.circleimg {
    background-image: url('../images/circleimg.jpg');
    width: 25%;
    min-width: 2rem;
    aspect-ratio: 1 / 1;
    align-self: start; /* align-items: stretch; is the default */
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 15rem;
    position: relative;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05), 50px -50px 60px rgb(217, 237, 249, 6); /* x y blur-radius */
    padding: 1.55rem;
    gap: 1rem;
}

p {
    margin: 0;
    font-size: clamp(0.9375rem, 0.9rem + 0.2vw, 1rem);
}

p.title {
    font-size: clamp(1rem, 0.8rem + 0.5vw, 1.125rem);
    font-weight: bold;
}

p.desc {
    color: #87859c;
}

.small {
    margin-bottom: .3rem;
}

.ongoing p.desc {
    font-size: clamp(0.8125rem, 0.7rem + 0.3vw, 0.875rem);
}

.ongoing p.title {
    margin-bottom: .9rem;
}

p.progress {
    color: black;
    font-weight: bold;
}

.percentage {
    color: #8a79df;
}

.icons {
    margin: .7rem 0;
    display: flex;
    gap: .8rem; /*rem unit means proportional to root size*/
}

.icons > div {
    background-color: #f5f5f5;
    padding: .7rem;
    border-radius: 50%;
}

.icon {
    width: .9rem;
    display: block;
}

.ongoing {
    width: 60%;
    background-color: white;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
    padding: 1.2rem;
    border-radius: 20px;
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 12.7rem;
    bottom: 3.3rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
}

.bottom div {
    display: flex;
    gap: .7rem;
}

.ongoing img {
    width: 100%;
    min-width: 3rem;
}

@media screen and (min-width: 1090px) {

    .contents {
        column-gap: clamp(5rem, 20vw, 13rem);
    }

}

@media screen and (max-width: 1090px) {

    .contents {
        flex-direction: column;
        row-gap: clamp(3rem, 5vw, 5rem);
        align-items: center;
    }

    .container {
        width: 50%;
    }

}

@media screen and (max-width: 575px) {

    .ongoing {
        left: 11rem;
    }

}

@media screen and (max-width: 525px) {

    .ongoing {
        left: 10rem;
    }

}

@media screen and (max-width: 485px) {

    .ongoing {
        left: 9rem;
    }

}

@media screen and (max-width: 440px) {

    .ongoing {
        left: 8rem;
    }

}

@media screen and (max-width: 415px) {

    .ongoing {
        left: 7rem;
    }

}

@media screen and (max-width: 380px) {

    .ongoing {
        left: 6rem;
    }

}

@media screen and (max-width: 350px) {

    .ongoing {
        left: 5rem;
    }

}