body {
    background-color: #FFECBD;
}

.title {
    background-image: url('../images/header-404.jpg');
}

.wrapper {
    position: relative;
}

.deco-left {
    position: absolute;
    top: 150px;
    left: 0;
}

.deco-right {
    position: absolute;
    top: 400px;
    right: 0;
}

.error-page-content {
    text-align: center;
}

.error-page-content img {
    margin-bottom: -90px;
    margin-top: -120px;
}

/* DESCRIPTION TEXT */
.bodytext {
    font-size: 15px;
    color: #7a6f63;
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

/* SEARCH BAR */
.search-bar {
    max-width: 432px;
    height: 44px;
    background: white;
    border-radius: 8px;
    border: 4px solid #858178;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto 35px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 8px;
    background: none;
}

.search-bar img {
    cursor: pointer;
    margin-top: -93px;
    margin-right: -21px;
}