body {
    background-color: var(--normal);
}

.title {
    background-image:
        linear-gradient(to top,
            var(--black-50),
            var(--black-50)),
        url('../images/header-404.jpg');
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.deco {
    z-index: -2;
    width: 12%;
    pointer-events: none;
}

.deco.left-up {
    top: 15%;
    left: -2%;
    transform: scaleX(-1) rotate(-55deg);
}

.deco.left-down {
    top: 35%;
    left: 1%;
    transform: rotate(40deg);
}

.deco.right-up {
    right: -2%;
    top: 25%;
    transform: scaleX(-1) rotate(10deg);
}

.deco.right-down {
    top: 60%;
    right: 1%;
    transform: scaleX(-1) rotate(40deg);
}

.error-page-content {
    text-align: center;
}

.error-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.four {
    font-size: 400px;
    line-height: 1;
}

/* DESCRIPTION TEXT */
.bodytext {
    font-size: 15px;
    color: #7a6f63;
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

/* SEARCH BAR */
.search-bar {
    margin: 0 auto 35px;
}

@media screen and (max-width: 768px) {
    .deco-left-up {
        max-width: 33.33%;
    }

    .deco-left-down {
        max-width: 33.33%;
    }

    .deco-right-up {
        max-width: 33.33%;
        top: 200px;
    }

    .deco-right-down {
        max-width: 33.33%;
    }
}