body {
    background-color: var(--normal);
}

.title {
    background-image: url('../images/header-404.jpg');
}

.wrapper {
    position: relative;
}

.deco-left {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -2;
}

.deco-right1 {
    position: absolute;
    top: 450px;
    right: 0;
    z-index: -2;
}

.deco-right2 {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -2;
}

.error-page-content {
    text-align: center;
}

.error-page-content img {
    margin-bottom: -90px;
    margin-top: -90px;
}

/* DESCRIPTION TEXT */
.bodytext {
    font-size: 15px;
    color: #7a6f63;
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

/* SEARCH BAR */
.search-bar {
    margin: 0 auto 35px;
}

@media screen and (max-width: 768px) {
    .deco-left {
        max-width: 33.33%;
    }

    .deco-right1 {
        max-width: 33.33%;
        top: 200px;
    }

    .deco-right2 {
        max-width: 33.33%;
    }
}