body {
    background-color: var(--normal);
}

.title {
    background-image: url('../images/header-404.jpg');
}

.wrapper {
    position: relative;
}

.deco {
    position: absolute;
    inset: 0;
    /* expand .deco to cover the whole wrapper */
    z-index: 1;
    pointer-events: none;
}

.deco>div {
    position: absolute;
    width: 40%
}

.deco-left-up {
    top: 50px;
    left: -200px;
    transform: rotate(10deg);
}

.deco-left-down {
    top: 300px;
    left: -200px;
    transform: rotate(40deg);

}

.deco-right-up {
    right: -200px;
    top: 50px;
    transform: scaleX(-1) rotate(10deg);
}

/* right lower leaf */
.deco-right-down {
    top: 300px;
    right: -200px;
    transform: scaleX(-1) rotate(45deg);
}

.error-page-content {
    text-align: center;
}

.error-page-content img {
    margin-bottom: -90px;
    margin-top: -90px;
}

/* DESCRIPTION TEXT */
.bodytext {
    font-size: 15px;
    color: #7a6f63;
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

/* SEARCH BAR */
.search-bar {
    margin: 0 auto 35px;
}

@media screen and (max-width: 768px) {
    .deco-left-up {
        max-width: 33.33%;
    }

    .deco-left-down {
        max-width: 33.33%;
    }

    .deco-right-up {
        max-width: 33.33%;
        top: 200px;
    }

    .deco-right-down {
        max-width: 33.33%;
    }
}