p.tertiary-b,
p.category {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--tertiary);
}


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.title {
    background-image:
        linear-gradient(to top,
            var(--black-50),
            /* Black, 70% opaque at the bottom */
            var(--black-50))
        /* Black, 0% opaque (transparent) at the top */
        ,
        /* 2. List your image URL SECOND */
        url(../images/pourwater-bct.png);
}


/*Section 1*/
div.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.relative {
    position: relative;
    left: -180px;
    width: 50%;
    z-index: -1;
    max-height: 100%;
}

div.textblock {
    display: flex;
    flex-direction: column;
}

img.icon {
    width: 20%;
}

div.preparation {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
}

div.equipment,
div.coffeebean {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 50%;
}

div.textgrp {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/**Section 2*/
/*banner*/
.banner {
    display: flex;
    flex-direction: row;
    background-color: var(--tertiary);
    gap: 5%;
    border-radius: 30px;
    margin-bottom: 100px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6%;
    width: 50%;
}

.banner h5,
.banner p {
    color: var(--white);
}

.banner-img {
    width: 30%;
    border-radius: 30px 0 0 30px;
}

div.banner-img-container {
    background-image: url(../images/coffeebeans-bct.jpg);
    background-repeat: none;
    width: 30%;
    border-radius: 30px 0px 0px 30px;
}

div.banner-text {
    display: flex;
    padding: 30px;
    gap: 10px;
}

/*Title*/
div.method h3 {
    margin-bottom: 60px;
}

/*Tutorial Steps*/
.step-by-step {
    display: flex;
    align-items: flex-start;
    /* Aligns number-step and paragraph to the top */
    gap: 20px;
    /* Add some space between the number and the text */
}

.step-by-step p {
    /* To help long text flow properly */
    flex-grow: 1;
}

div.number-step {
    /* Prevent the circle from shrinking */
    flex-shrink: 0;
}

div.titleblock {
    width: 60%;
}

div.number-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.number-base {
    background-color: var(--tertiary);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    /* Set the container as a flex container */
    justify-content: center;
    /* Center the item horizontally (on the main axis) */
    align-items: center;
}

div.number-base h5 {
    color: var(--light);
    margin: 0;
    /* Important: Remove default h5 margins */
    line-height: 1;
}

div.step-first-section,
div.step-second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

div.methodstep {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

/*Section 3*/
div.third-section {
    text-align: center;
}

div.third-section h3 {
    margin-bottom: 32px;
}

div.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D8C799;
    border-radius: 30px;
    padding: 70px;
    gap: 5%;
}

div.t-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    gap: 50px;
}

img.deco {
    position: relative;
    width: 100px;
    height: 5px;
}

img.quotation {
    width: 10%;
}

div.person {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**Media Query*/
/*desktop smaller screen and tablet landscape size*/
@media (max-width: 1025px) {
    .wrapper {
        padding: 100px 120px;
    }


    /**section 1*/

    div.first-section {
        display: none;
    }

    div.textblock {
        width: 100%;
    }

    img.relative-s {
        position: static;
        width: 100%;
    }

    /*section 2*/
    /*banner*/
    div.banner-img-container {
        width: 50%;
    }

    div.banner {
        margin-bottom: 50px;
    }

    div.banner-text h5 {
        font-size: 24px;
        line-height: normal;
    }

    div.banner-text p {
        font-size: medium;
    }

    /*method*/
    div.method {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    div.titleblock h3 {
        margin-bottom: 30px;
    }

    div.step-first-section,
    div.step-second-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    /*section 3*/
    img.deco {
        display: none;
    }

    div.t-content {
        width: 100%;
    }

}

/*768px (tablet portrait size and mobile landscape size)*/
@media(max-width:768px) {
    .wrapper {
        padding: 100px 70px;
    }


    /**first section*/
    div.preparation {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    div.equipment,
    div.coffeebean {
        width: 100%;
    }

    /**second section*/
    div.banner {
        display: flex;
        flex-direction: column;
    }

    div.banner-img-container {
        width: 100%;
        /* Make it full width of the banner */
        height: 200px;
        /* <--- ADD A FIXED HEIGHT HERE (Adjust as needed) */
        /* Also fix the border radius for the new stacked layout */
        border-radius: 30px 30px 0px 0px;

        /* Optional: improve background image display */
        background-size: cover;
        background-position: center;
    }

    div.banner-text {
        width: 100%;
    }

    div.methodstep {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    div.step-first-section,
    div.step-second-section {
        width: 100%;
    }

}

@media(min-width:1025px) {
    div.first-section-s {
        display: none;
    }

    img.relative-s {
        display: none;
    }

    div.method,
    div.methodstep {
        display: flex;
        flex-direction: row;
    }
}

@media(min-width:769px) {}