/* === GOOGLE FONTS === */
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* === RESET / NORMALIZE === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    background-color: var(--light);
}

.wrapper {
    padding: 100px 170px;
    border-radius: 30px;
}

.dark {
    background-color: var(--dark);
}

.normal {
    background-color: var(--normal);
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* === ROOT VARIABLES === */
:root {
    /* BRAND */
    --primary: #FFECBD;
    --secondary: #470000;
    --tertiary: #899064;

    /* BACKGROUND */
    --normal: #FFECBD;
    --dark: #F4E3B4;
    --light: #FFFFF0;

    /* STATE */
    --success: #98BE6A;
    --warning: #CCAE5A;
    --error: #C84444;

    /* BUTTON */
    --pri-default: #470000;
    --pri-hover: #822E2E;
    --pri-active: #2B0000;
    --sec-default: #899064;
    --sec-hover: #BAC389;
    --sec-active: #585F33;

    /* NEUTRALS */
    --black: #1D1D1D;
    --grey-dark: #858178;
    --grey-light: #CDC4BC;
    --white: #FFFFF0;

    /* TRANSPARENT */
    --black-60: #1D1D1D99;
    --black-50: #1D1D1D80;
    --white-20: #FFFFF033;

    /* FONTS */
    --heading: "Abril Fatface", serif;
    --text: "Poppins", sans-serif;
}

/* === GLOBAL TYPOGRAPHY  === */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
    color: var(--black);
    font-weight: 400;
}

body,
p {
    font-family: var(--text);
    color: var(--grey-dark);
}

h1 {
    font-size: 96px;
    line-height: 115.2px;
}

h2 {
    font-size: 64px;
    line-height: 76.8px;
}

h3 {
    font-size: 48px;
    line-height: 57.6px;
}

h4 {
    font-size: 40px;
    line-height: 48px;
}

h5 {
    font-size: 32px;
    line-height: 38.4px;
}

h6 {
    font-size: 24px;
    line-height: 28.8px;
}

p.subtitle {
    font-size: 20px;
    line-height: 28px;
}

p {
    font-size: 16px;
    line-height: 22.4px;
}

p.bold {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 700;
}

p.small {
    font-size: 14px;
    line-height: 19.6px;
}

/* === SITEWIDE ELEMENTS  === */
/* LOGO */
.logo {
    width: 212px;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    background-color: var(--black-50);
    padding: 15px 50px;
    width: 100%;
    position: fixed;
    top: 0;
    color: var(--white);
    white-space: nowrap;
    z-index: 1000;
}

.nav-center {
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right p {
    font-weight: 700;
    line-height: 22.4px;
    color: var(--white);
}

.item {
    text-transform: uppercase;
    padding: 12px 10px 12px 15px;
}

.menu-item.home .item {
    padding: 12px 15px;
}

.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 12px 15px;
    gap: 15px;
    background-color: var(--tertiary);
    border-radius: 0 10px 10px 10px;
}

.menu-item:hover {
    .submenu {
        display: flex;
    }

    .item {
        background-color: var(--tertiary);
        border-radius: 10px 10px 0 0;
    }

    .arrow-down {
        transform: rotate(180deg);
    }
}

.menu-item.home:hover .item {
    border-radius: 10px;
    padding: 12px 15px;
}

.menu-toggle {
    display: none;
}

/* HEADER TITLE */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 490px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 25px;
}

.title h3 {
    color: var(--white);
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.breadcrumbs .small {
    color: var(--white);
}

p.small.home {
    color: var(--grey-light);
}

/* FOOTER */
footer {
    background-color: var(--secondary);
    padding: 40px 170px;
    position: relative;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top h5 {
    color: var(--white);
}

.footer-divider {
    border: none;
    border-top: 1px solid var(--tertiary);
    margin: 35px 0 45px 0;
}

.footer-content {
    display: flex;
    gap: 100px;
}

.footer-left {
    flex-direction: column;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-contact p {
    color: var(--white);
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-item img {
    width: 30px;
}

.footer-links {
    display: flex;
    gap: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 14px;
    line-height: 19.6px;
    gap: 15px;
}

.footer-socials {
    display: flex;
    gap: 12px;
    margin: 45px 0;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid var(--white-20);
}

.footer-bottom-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-bottom-right {
    color: var(--tertiary);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 90px;
    right: 0;
}

/* BUTTONS */
button {
    padding: 12px 30px;
    border-radius: 20px;
    font-family: var(--text);
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--light)
}

.b-brown {
    background-color: var(--pri-default);
}

.b-brown:hover {
    background-color: var(--pri-hover);
}

.b-brown:active {
    background-color: var(--pri-active);
}

.b-green {
    background-color: var(--sec-default);
}

.b-green:hover {
    background-color: var(--sec-hover);
}

.b-green:active {
    background-color: var(--sec-active);
}

.b-white {
    background-color: var(--light);
    border: 4px solid var(--sec-default);
}

.b-white:hover {
    border: 4px solid var(--sec-hover);
}

.b-white:active {
    border: 4px solid var(--sec-active);
}

.tb {
    padding: 0;
    background-color: transparent;
    font-family: var(--text);
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
}

.tb.brown {
    color: var(--pri-default)
}

.tb.brown:hover {
    color: var(--pri-hover)
}

.tb.brown:active {
    color: var(--pri-active)
}

.tb.green {
    color: var(--sec-default)
}

.tb.green:hover {
    color: var(--sec-hover)
}

.tb.green:active {
    color: var(--sec-active)
}

/* TEXT GROUP */
.group {
    max-width: 500px;
}

.group .small {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--tertiary);
}

.group h4 {
    margin-bottom: 30px;
}

.group p:not(.small) {
    margin-bottom: 80px;
}

/* STATS BAR */
.statsbar {
    display: flex;
    justify-content: space-between;
}

.stats {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.stats h2 {
    color: var(--tertiary);
}

.statstext {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    position: relative;
    top: -20px;
}

/* COMPANIES */
.companies {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

/* DESKTOP */
@media screen and (min-width: 768px) {}

/* MOBILE */
@media screen and (max-width: 768px) {}