div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.title {
    background-image: linear-gradient(to top,
            var(--black-50),
            var(--black-50)),

        url('../images/header-contact-us.png');
    width: 105.6%;
}

/* === 第一个 section: Get In Touch === */
.getintouch {
    display: flex;
    /* 给他可以两派 */
    justify-content: flex-start;
    /* 靠左 */
    margin-bottom: 100px;
}

/* 图片 */
.coffeeboy {
    width: 100%;
    max-width: 764px;
    max-height: fit-content;
    /* 照片高度宽度跟figma一样 */
    margin-left: -200px;
    /* 给他往左靠 */
    padding-right: clamp(10px, 7vw, 85px);
    align-self: center;
}

/* 右边的内容 */
.touchcontent {
    margin-top: 120px;
}

/* h3 */
.touchcontent h3 {
    margin: 10px 0 20px;
    /* 上下左右都有一点位置 */
}

/* 文字跟icon的间距*/
.subtitle {
    margin-bottom: 30px;
}

/* social 栏 */
.social {
    display: flex;
    flex-direction: column;
}

/* 每个 socialbox */
.socialbox {
    display: flex;
    align-items: flex-start;
    /* 靠左 */
    gap: 20px;
    /* icon跟文字的距离 */
    margin-bottom: 45px;
}


/* social 图标 */
.socialbox img {
    width: 75px;
    height: 65px;
    /* icon高度跟宽度跟随figma */
}


/* 第二个section */
.Greenbox {
    background-color: var(--tertiary);
    padding: 65px 45px 35px 40px;
    border-radius: 20px;
    margin-bottom: 100px;
}

/* 文字整体 */
.greenupper {
    align-items: flex-start;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-top: -35px;
}

/* 针对h5和p换颜色因为common css 另外还set空间*/
.greenupper h5 {
    color: var(--white);
    margin-bottom: 15px;
}

.greenupper p {
    color: var(--white);
    margin-bottom: 25px;
}

/*  */

/* form的section */
.contact-form {
    text-align: left;
    margin: auto;
    width: 100%
}

/* 名字和 Email 平分一行 */
.form-row.name-email {
    display: flex;
    gap: 11px;
}

.fr-row button {
    margin-top: 10px;
}

/*  */



/* === 第三个section === */
.questionbox {
    background-color: var(--faq);
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxquestion {
    /* 整体的asjust */
    display: flex;
    /* 让他两排 */
    gap: 15px;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 40px;
    justify-content: center;
}

.faqcontainer .group {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    max-width: none;
}

.question {
    width: calc(50% - 15px);
    /* 每个共享一半再去掉gap的数目 */
    cursor: pointer;

}

.questionbox p {
    color: var(--black);
    margin: 0;
}

.answer {
    color: var(--grey-dark);
    background-color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    border: none;
}

/*deco*/
img.deco-size {
    width: 50%;
}

img.deco-right {
    position: absolute;
    right: -200px;
    top: -350px;
    z-index: -1;
}

p.subtitle {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}

.arrow {
    width: 15px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {


    /* title header */
    .title {
        text-align: center;
        margin: auto;
    }

    .getintouch {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .coffeeboy {
        display: none;
    }

    .touchcontent {
        margin-bottom: -90px;
        margin-top: 0;

    }

    .socialbox {
        width: 230px;
        margin: 0 auto 45px auto;
        justify-content: flex-start;
        text-align: left;
    }

    .socialbox img {
        width: 50px;
        height: auto;
    }

    /* ============ SECTION 2: FORM ============ */
    .Greenbox {
        position: relative;
        width: 100%;
        padding: 50px 10px 20px 10px;
        margin-bottom: 100px;
    }

    .greenupper {
        margin-left: 10px;
        text-align: flex-start;
    }

    .contact-form {
        text-align: flex-start;
        width: 90%;
        align-items: center;
    }

    /* name + email 改为上下 */
    .form-row.name-email {
        flex-direction: column;
        gap: 0;
    }

    /* ============ SECTION 3: FAQ ============ */
    .boxquestion {
        align-items: center;
    }

    .subtitle {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }

    .questionbox {
        text-align: center;
    }

    .question {
        width: 100%;
    }
}

/* ============ DECO ============ */
/*flower size*/
div.deco {
    width: 20%;
}

div.leaf2 {
    top: 470px;
    right: -190px;
    z-index: -1;
    width: 35%;
    transform: scaleX(-1) rotate(10deg);
}

/*mid flower*/
div.deco.leaf1.mid {
    left: -180px;
    bottom: -990px;
    z-index: -1;
    width: 35%;
    transform: rotate(9deg);
}

div.deco.leaf2.mid {
    top: 1250px;
    right: -185px;
    width: 30%;
    transform: scaleY(-1) scaleX(-1);
}

/*lst flower*/
div.deco.leaf1.lst {
    bottom: -1950px;
    left: -250px;
    z-index: 1;
    width: 35%;
    transform: scaleY(-1)rotate(20deg);
}

div.deco.leaf2.lst {
    top: 2450px;
    right: -100px;
    z-index: 1;
    width: 26%;
}



@media screen and (max-width: 1024px) {

    /* 图片 */
    .coffeeboy {
        width: 80%;
        max-height: fit-content;
        margin-left: -200px;
    }

    /* FAQ 两栏保持 */
    .question {
        width: calc(50% - 15px);
    }

    .boxquestion {
        margin-bottom: 5px;
    }
}