.title {
    background-image: url('../images/header-contact-us.jpg');
    background-image: linear-gradient(var(--black-50), var(--black-50)), url('../images/header-contact-us.jpg');
}

/* === 第一个 section: Get In Touch === */
.getintouch {
    display: flex;
    /* 给他可以两派 */
    gap: 88px;
    /* content跟照片的间距 */
    margin-bottom: 70px;
    /* 跟section 2的距离 */
    justify-content: flex-start;
    /* 靠左 */
}

/* 图片 */
.coffeeboy {
    width: 864px;
    height: 787px;
    /* 照片高度宽度跟figma一样 */
    position: relative;
    left: -200px;
    /* 给他往左靠 */
}

/* 右边的内容 */
.touchcontent {
    margin-top: 120px;
    width: 400px;
}

/* h3 */
.touchcontent h3 {
    margin: 10px 0 20px;
    /* 上下左右都有一点位置 */
}

/* 文字跟icon的间距*/
.subtitle {
    margin-bottom: 30px;
}

/* social 栏 */
.social {
    display: flex;
    flex-direction: column;
}

/* 每个 socialbox */
.socialbox {
    display: flex;
    align-items: flex-start;
    /* 靠左 */
    gap: 20px;
    /* icon跟文字的距离 */
    margin-bottom: 45px;
}


/* social 图标 */
.socialbox img {
    width: 75px;
    height: 58px;
    /* icon高度跟宽度跟随figma */
}



/* 第二个section */
.Greenbox {
    max-width: 1082px;
    /* 表格的大小跟随figma */
    background-color: #899064;
    padding: 70px 0;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 110px;
}

/* 文字整体 */
.greenupper {
    align-items: flex-start;
    margin-bottom: 12px;
    margin-left: 55px;
    margin-top: -45px;
}

/* 针对h5和p换颜色因为common css 另外还set空间*/
.greenupper h5 {
    color: var(--white);
    margin-bottom: 10px;
}

.greenupper p {
    color: var(--white);
    margin-bottom: 35px;
}

/*  */

/* form的section */
.contact-form {
    max-width: 976px;
    /* 限制大小跟随figma */
    text-align: left;
    margin-left: 55px;
}

/* style 里面的东西 */
.form-row textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 23px;
    border-radius: 6px;
    border: none;
}

.form-row input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 23px;
    border-radius: 6px;
    border: none;
}

.fr-row button {
    margin-top: 10px;
}

/* 名字和 Email 平分一行 */
.form-row.name-email {
    display: flex;
    gap: 11px;
}

/*  */



/* === FAQ SECTION === */
.boxquestion {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.question {
    width: calc(50% - 15px);
    background-color: var(--primary);
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 20px;
}

/* 默认隐藏答案 */
.answer {
    display: none;
    background-color: var(--white);
    padding: 15px 20px;
    border-top: 1px solid var(--grey-light);
    color: var(--grey-dark);
}

/* 展开时显示 */
.question.active .answer {
    display: block;
}



@media screen and (max-width: 768px) {}