.title {
    background-image: linear-gradient(var(--black-50), var(--black-50)), url('../images/header-drinks.jpg');
}

.drinks {
    border-radius: 0 0 30px 30px;
}

.drinks-subtitle {
    justify-items: center;
    margin-bottom: 100px;
}

.drinks-subtitle h3 {
    margin-bottom: 20px;
}

.drinks-img img {
    transition: transform 0.4s ease;
}

.drinks-img img:hover {
    transform: scale(1.1);
}

/*Kopi section*/
.kopi-subtitle {
    justify-items: center;
}

.kopi-subtitle h3 {
    margin-bottom: 20px;
}

.kopi-cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    align-items: flex-end;
}

.kopi-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 32vw;
    justify-content: flex-end;
}

.price-tag {
    position: absolute;
    background: var(--tertiary);
    top: 100px;
    right: 30px;
    padding: 8px 1.5vw;
    border-radius: 15px;
    z-index: 5;
}

p.price {
    color: var(--white);
}

.price-tag p.subtitle {
    color: var(--white);
}

.kopi-items h5 {
    background: var(--secondary);
    color: var(--white);
    padding: 20px;
    border-radius: 35px;
}

.kopi-items .price-tag {
    top: 30px;
    right: -30px;
    z-index: 5;
}

/*Teh section*/

.teh-subtitle {
    justify-items: center;
}

.teh-subtitle h3 {
    margin-bottom: 20px;
}

.teh-items {
    position: relative;
    text-align: center;
    align-content: flex-end;
    width: 33.33%;
}

.teh-items img {
    margin-top: 30px;
}

.teh-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 100px;
    justify-content: center;
    margin-top: 20px;
}

.teh-items h5 {
    background: var(--secondary);
    color: var(--white);
    padding: 20px 0;
    border-radius: 35px;
}

.teh-items .price-tag {
    top: 40px;
    right: -20px;
}

/*cocoa section*/
.cocoa {
    justify-items: center;
    text-align: center;
}

.cocoa-subtitle h3 {
    margin-bottom: 20px;
}

.cocoa-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 100px;
    justify-content: center;
}

.cocoa-items {
    position: relative;
    align-content: flex-end;
    width: 33.33%;
}

.cocoa-items img {
    margin-top: 100px;
}

.cocoa-items h5 {
    background: var(--secondary);
    color: var(--white);
    padding: 20px 0;
    border-radius: 35px;
}

.cocoa-items .price-tag {
    top: 80px;
    right: -20px;
}

.yuanyang {
    margin-bottom: -80px;
}

/*refreshing section*/
.refreshing {
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.refreshing-subtitle h3 {
    margin-bottom: 20px;
}

.refreshing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 120px;
    justify-content: center;
}

.refreshing-items {
    position: relative;
    align-content: flex-end;
    width: 25%;
}

.refreshing-items img {
    margin-top: 100px;
}

.refreshing-items h5 {
    background: var(--secondary);
    color: var(--white);
    padding: 20px 0;
    border-radius: 35px;
    margin: 0 -40px;
}

.refreshing-items .price-tag {
    right: -20px;
}

@media screen and (max-width: 1024px) {
    .price-tag {
        padding: 6px 13px;
    }

    .yuanyang {
        margin-bottom: -50px;
    }

    p.price {
        font-size: 25px;
    }

    .kopi-items .price-tag {
        top: -10px;
        right: 0;
    }

    .kopi-cards {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .drinks-subtitle p.subtitle {
        text-align: center;
    }

    .kopi-subtitle p {
        text-align: center;
    }

    .teh-subtitle p {
        text-align: center;
    }

    .kopi-cards {
        flex-direction: column;
        justify-self: center;
    }

    .kopi-items {
        height: 45vh;
    }

    .kopi-items h5 {
        margin: 0 5%;
    }

    .price-tag {
        padding: 8px 15px;
    }


    .teh-cards {
        flex-direction: column;
        justify-self: center;
    }

    .teh-items {
        width: auto;
    }

    .teh-items h5 {
        margin: 0 11%;
    }

    .cocoa-cards {
        flex-direction: column;
        justify-self: center;
    }

    .cocoa-items {
        width: auto;
    }

    .cocoa-items h5 {
        margin: 0 3%;
    }

    .refreshing-cards {
        flex-direction: column;
        justify-self: center;
    }

    .refreshing-items {
        width: auto;
    }

    .refreshing-items h5 {
        margin: 0 1%;
    }

    .teh-items .price-tag {
        right: 20px;
    }

    .cocoa-items .price-tag {
        right: 0;
    }

    .refreshing-items .price-tag {
        right: 0;
    }
}