header {
    background-color: var(--normal);
}

.nav-center {
    color: var(--black);
}

.menu-item .item .arrow-down {
    filter: invert(100%);
}

.nav-center .menu-item:hover {
    color: var(--white);
}

.menu-item:hover .arrow-down {
    filter: none;
}

.submenu {
    color: var(--white);
}

.title.home-t {
    min-height: 100vh;
    background-image:  linear-gradient(var(--black-50), var(--black-50)), url('../images/header-home.jpg');
}

.home-t p {
    max-width: 750px;
    padding: 0 50px 0 50px;
    color: var(--white);
}

h1 {
    color: var(--white);
}

/* TABLET PORTRAIT & MOBILE */
@media screen and (max-width: 768px) {

    button {
        display: none;
    }

    header::before {
        background-color: var(--normal);
    }

    .menu-toggle {
        filter: invert(80%);
    }

}