header {
    background-color: var(--normal);
}

.nav-center {
    color: var(--black);
}

.menu-item .item .arrow-down {
    filter: invert(100%);
}

.nav-center .menu-item:hover {
    color: var(--white);
}

.menu-item:hover .arrow-down {
    filter: none;
}

.submenu {
    color: var(--white);
}

/* TABLET PORTRAIT & MOBILE */
@media screen and (max-width: 768px) {

    button {
        display: none;
    }

    header::before {
        background-color: var(--normal);
    }

    .menu-toggle {
        filter: invert(80%);
    }

}