body {
    background-color: var(--light);
}

.dark {
    border-radius: 30px 30px 0 0;
}

.title {
    background-image: linear-gradient(to top,
            var(--black-50),
            var(--black-50)),

        url('../images/header-join-now.jpg');
    width: 105.6%;
}

.email-v {
    margin-bottom: 40px;
}

.bodytext {
    max-width: 30%;
    margin-bottom: 50px;
}

.wrapper-joinnow-email {
    padding-bottom: 50px;
}

.email {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wrapper-signup {
    position: relative;
    background-color: var(--tertiary);
    max-width: 100%;
    border-radius: 20px;
    padding: 65px 45px 35px 40px;
    margin-bottom: 50px;
    text-align: left;
    margin: auto;
}

.wrapper-input input {
    margin-bottom: 25px;
}

.signup {
    align-items: flex-start;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-top: -35px;
}

.wrapper-signup h3 {
    color: var(--white);
    margin-bottom: 15px;
}

.wrapper-signup p {
    color: var(--white);
    margin-bottom: 50px;
}

.password-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.password-icon {
    position: relative;
    max-width: 100%;
}

.password-inputs img {
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
}

.terms-and-conditions {
    gap: 10px;
    margin-top: 10px;
}

.agree-container {
    display: flex;
    gap: 10px;
}