.title {
    background-image: linear-gradient(var(--black-50), var(--black-50)), url('../images/header-merchandise.jpg');
}

.special-items h3 {
    text-align: center;
    background-color: #D8C799;
    padding: 30px 0px;
    border-radius: 0px 0px 20px 20px;
}

.point {
    display: flex;
    margin: 20px 0px 10px 0px;
    gap: 150px;
}

.special-items .b-green,
.lifestyle-items .b-green {
    margin-left: auto;
    display: block;
}

.lifestyle-items .b-green {
    margin-top: 40px;
}

.greenmug {
    margin-top: 20px;
    text-align: center;
}

.greenmug img {
    width: 50%;
}


.clothes {
    display: flex;
    margin-top: 10px;
}

.clothes img {
    width: 33%;
}

.lifestyle-items p {
    margin-top: 50px;
}

.limited-mug {
    display: flex;
    align-items: center;
    gap: 100px;
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
}

.redmug {
    max-width: 45%;
}

@media screen and (max-width: 1090px) {
    .point {
        gap: 90px;
    }

    .limited-mug {
        gap: 30px;
    }

    .redmug {
        max-width: 400px;
    }
}



@media screen and (max-width: 768px) {

    .point {
        display: block;
    }

    .limited-mug {
        display: block;

    }

    .group {
        margin-top: 50px;
    }

    .special-items .b-green,
    .lifestyle-items .b-green {
        margin-left: 0;
        margin-top: 40px;
    }

    .redmug {
        width: 400px;
        margin-left: -70px;
    }

    .greenmug img {
        width: 400px;
    }

    .clothes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .clothes img {
        width: 400px;
    }
}