.title {
    background-image: url('../images/header-merchandise.jpg');
    background-image: linear-gradient(var(--black-50), var(--black-50)), url('../images/header-merchandise.jpg');
}

.wrapper1 {
    padding: 0px 170px 100px 170px;
}

.section1 {
    background-image: url('../images/grass.png');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom left;
}

.section1 h3 {
    text-align: center;
    background-color: #D8C799;
    padding: 30px 0px;
    border-radius: 0px 0px 20px 20px;
}

.section1 p {
    margin-top: 40px;
}

.point {
    display: flex;
    margin: 20px 0px 10px 0px;
    gap: 150px;
}

.section1 .b-green,
.section2 .b-green {
    margin-left: auto;
    display: block;
}

.section2 .b-green {
    margin-top: 40px;
}

.greenmug {
    margin-top: 20px;
    text-align: center;
}

.greenmug img {
    width: 50%;
}


.clothes {
    display: flex;
    margin-top: 10px;
}

.clothes img {
    width: 33%;
}

.section2 {
    background-image: url('../images/grass2.png');
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: bottom left;
}

.section2 p {
    margin-top: 50px;
}

.wrapper2 {
    padding: 100px 170px 100px 0px;
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: bottom right;
}

.section3 {
    display: flex;
    align-items: center;
    gap: 100px;


}

.redmug {
    width: 45%;
}