.title {
    background-image: url('../images/header-merchandise.jpg');
}

.section1 {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    background-color: #D8C799;
    padding: 30px 0px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
}

.point {
    display: flex;
    margin: 50px 0px 10px 0px;
    gap: 150px;
}

.b-green {
    align-self: flex-end;
}

.greenmug {
    text-align: center;
}

.greenmug img {
    width: 50%;
}