.title {
    background-image: url('../images/header-merchandise.jpg');
}



.section1 h3 {
    text-align: center;
    background-color: #D8C799;
    padding: 30px 0px;
    border-radius: 0px 0px 20px 20px;
}

.section1 p {
    margin-top: 40px;
}

.point {
    display: flex;
    margin: 20px 0px 10px 0px;
    gap: 150px;
}

.b-green {
    margin-left: auto;
    display: block;
}

.section2 .b-green {
    margin-top: 40px;
}

.greenmug {
    margin-top: 20px;
    text-align: center;
}

.greenmug img {
    width: 50%;
}


.clothes {
    display: flex;
    margin-top: 10px;
}

.clothes img {
    width: 33%;
}

.section2 p {
    margin-top: 50px;
}