.title {
    background-image: linear-gradient(var(--black-50), var(--black-50)), url('../images/header-merchandise.jpg');
}

.special-items {
    padding-top: 0;
}

.special-items h3 {
    text-align: center;
    background-color: #D8C799;
    padding: 30px 0px;
    border-radius: 0px 0px 20px 20px;
}

.point {
    display: flex;
    margin: 30px 0px 10px 0px;
    gap: 150px;
}

.special-items .b-green,
.lifestyle-items .b-green {
    margin-left: auto;
    display: block;
}

.lifestyle-items .b-green {
    margin-top: 40px;
}

.greenmug {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

.greenmug img {
    width: 50%;
    transition: transform 0.4s ease;
}

.greenmug img:hover {
    transform: scale(1.1);
}

.clothes {
    display: flex;
    margin-top: 10px;
    overflow: hidden;
}

.clothes img {
    width: 33%;
    transition: transform 0.4s ease;
}

.clothes img:hover {
    transform: scale(1.1);
}


.lifestyle-items p {
    margin-top: 50px;
}

.limited-mug {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    overflow-x: clip;
}

.deco {
    width: 20%;
    right: 0;
    bottom: 5%;
}

.redmug {
    max-width: 45%;
}

.redmug img {
    width: 100%;
}

.phone-size {
    display: none;
}

@media screen and (max-width: 1024px) {
    .point {
        gap: 90px;
        justify-content: center;
    }

    .special-items .b-green,
    .lifestyle-items .b-green {
        justify-self: center;
        margin-left: 0;
        margin-top: 30px;
    }

    .limited-mug {
        gap: 30px;
    }

    .redmug {
        max-width: 400px;
    }

    .deco {
        bottom: -8%;
        right: 0;
        width: 18%;
    }
}



@media screen and (max-width: 768px) {

    .point {
        display: block;
    }

    .limited-mug {
        padding-left: 60px;
        display: block;
        background-size: 30%;
    }

    .group {
        margin-top: 50px;
    }

    .special-items .b-green,
    .lifestyle-items .b-green {
        margin-left: 0;
        margin-top: 40px;
        justify-self: auto;
    }

    .redmug {
        width: 400px;
        margin-left: -70px;
    }

    .greenmug img {
        width: 400px;
    }

    .clothes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .clothes img {
        width: 400px;
    }

    .phone-size {
        display: block;
    }

    .desktop-size {
        display: none
    }
}