.title {
    background-image:  linear-gradient(var(--black-50), var(--black-50)), url('../images/header-our-team.jpg');
}

.intro {
    display: flex;
    gap: 110px;
    align-items: center;
}

.group p:not(.small) {
    margin-bottom: 25px;
}

.statsbar {
    justify-content: flex-start;
    gap: 100px;
}

.section2 {
    margin: 0 -170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 340px 0;
}

.section2 .group {
    text-align: center;
    max-width: 750px;
}

.full-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 100px;
}

.teammate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.teammate-photo {
    width: 325px;
    aspect-ratio: 9 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.yenxin {
    background-image: url(../images/angyenxin.png);
}

.szeqi {
    background-image: url(../images/tamszeqi.png);
}

.elisha {
    background-image: url(../images/ongelishabeiwei.png);
}

.jiaxuan {
    background-image: url(../images/yapjiaxuan.png);
}

.zhilin {
    background-image: url(../images/chongzhilin.png);
}

.role {
    display: flex;
    flex-direction: column;
    min-width: 285px;
    gap: 10px;
    padding: 25px;
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: -40px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.block-group {
    position: relative;
}

.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    text-align: center;
    padding: 65px 50px 75px 50px;
    width: 100%;
    border-radius: 30px;
    margin-top: -205px;
}

.block .logo {
    margin-bottom: 35px;
}

.block h3 {
    color: var(--white);
    margin-bottom: 15px;
}

.block p {
    color: var(--white);
    max-width: 650px;
    margin-bottom: 50px;
}

.inquiries-card {
    position: absolute;
    top: -23px;
    right: -65px;
}

.inquiries {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.diagonal {
    position: relative;
}

.inquiry-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 35px;
}

.inquiry-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inquiry-icon img {
    width: 35px;
}

.inquiry-info h6 {
    color: var(--white);
    margin-bottom: 5px;
}

.inquiry-info p {
    color: var(--white);
}

.section3 {
    padding: 0 170px;
    border-radius: 30px 30px 0 0;
}

.s3 {
    display: flex;
    gap: 115px;
    align-items: center;
    padding: 100px 0;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.check {
    display: flex;
    align-items: center;
    gap: 30px;
}

.check-icon-wrapper {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--normal);
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checklist .check p {
    margin: 0;
}