.title {
    background-image:  linear-gradient(var(--black-50), var(--black-50)), url('../images/header-our-team.jpg');
}

.intro {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: clamp(20px, 6vw, 115px);
}

.image {
    width: 40%;
    flex-shrink: 1;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.intro .group {
    width: auto;
    flex-shrink: 1;
    max-width: none;
    align-self: center;
}

.group p:not(.small) {
    margin-bottom: clamp(20px, 2vw, 25px);
}

.statsbar {
    justify-content: flex-start;
    gap: clamp(15px, 4vw, 100px);
}

.leaf1 {
    top: -100px;
    left: -5px;
}

.leaf2 {
    top: 820px;
    right: -5px;
}

.block, .inquiries, .teammate, .section2 .group {
    position: relative;
    z-index: 2;
}

.section2 {
    margin: 0 clamp(-170px, -12vw, -20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(50px, 7vw, 100px) 0 clamp(160px, 22vw, 340px) 0;
    position: relative;
}

.section2 .group {
    text-align: center;
    max-width: clamp(320px, 52vw, 750px);
}

.full-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(40px, 5.5vw, 80px) 40px;
    padding: 0 clamp(20px, 12vw, 170px);
}

.teammate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc((100% - 80px) / 3);
    min-width: 200px;
}

.teammate-photo {
    width: clamp(200px, 22.5vw, 325px);
    aspect-ratio: 9 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.yenxin {
    background-image: url(../images/angyenxin.png);
}

.szeqi {
    background-image: url(../images/tamszeqi.png);
}

.elisha {
    background-image: url(../images/ongelishabeiwei.png);
}

.jiaxuan {
    background-image: url(../images/yapjiaxuan.png);
}

.zhilin {
    background-image: url(../images/chongzhilin.png);
}

.role {
    display: flex;
    flex-direction: column;
    min-width: clamp(200px, 18vw, 285px);
    gap: clamp(5px, 0.7vw, 10px);
    padding: clamp(12px, 2vw, 25px);
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
    white-space: nowrap;
    position: absolute;
    bottom: clamp(-40px, -2.8vw, -30px);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.block-group {
    position: relative;
}

.block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    text-align: center;
    padding: clamp(30px, 4.5vw, 65px) clamp(20px, 3.5vw, 50px) clamp(40px, 5.2vw, 75px) clamp(20px, 3.5vw, 50px);
    width: 100%;
    border-radius: 30px;
    margin-top: clamp(-205px, -14.2vw, -100px);
}

.block .logo {
    margin-bottom: clamp(20px, 2.4vw, 35px);
}

.block h3 {
    color: var(--white);
    margin-bottom: clamp(10px, 1vw, 15px);
}

.block p {
    color: var(--white);
    max-width: clamp(300px, 45vw, 650px);
    margin-bottom: clamp(25px, 3.5vw, 50px);
}

.inquiries-card {
    position: absolute;
    top: clamp(-23px, -1.6vw, -10px);
    right: clamp(-65px, -4.5vw, -20px);
}

.inquiries {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.diagonal {
    position: relative;
}

.inquiry-info.mobile {
    display: none;
}

.inquiry-info.desktop {
    position: absolute;
    top: -5px;
    left: 35px;
}

.inquiry-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inquiry-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inquiry-icon img {
    width: 35px;
}

.inquiry-info h6 {
    color: var(--white);
    margin-bottom: 5px;
}

.inquiry-info p {
    color: var(--white);
}

.section3 {
    padding: 0 clamp(20px, 12vw, 170px);
    border-radius: 30px 30px 0 0;
}

.s3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: clamp(40px, 8vw, 115px);
    padding: clamp(50px, 7vw, 100px) 0;
}

.s3 .group {
    width: auto;
    flex-shrink: 1;
    max-width: none;
    align-self: center;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2vw, 30px);
}

.check {
    display: flex;
    align-items: center;
    gap: clamp(15px, 2vw, 30px);
}

.check-icon-wrapper {
    width: clamp(30px, 2.8vw, 40px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--normal);
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checklist .check p {
    margin: 0;
    width: 100%;
}

/* TABLET PORTRAIT & MOBILE */
@media screen and (max-width: 768px) {

    .section2 {
        padding-top: clamp(30px, 8vw, 80px);
    }

    .section3 {
        padding: 0 clamp(15px, 6vw, 60px);
    }

    .intro, .s3 {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }

    .deco {
        width: 30%;
    }

    .companies {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: clamp(20px, 3vw, 40px);
    }

}

/* TABLET LANDSCAPE */
@media screen and (max-width: 1024px) {

    .section2 {
        padding-top: clamp(30px, 8vw, 80px);
    }

    .section3 {
        padding: 0 clamp(15px, 6vw, 60px);
    }

}

/* ADJUSTMENTS */

@media screen and (max-width: 790px) {

    .teammate {
        width: calc((100% - 40px) / 2);
    }

}

@media screen and (max-width: 517px) {

    
}

@media screen and (max-width: 1200px) {

    .diagonal {
        display: none;
    }

    .inquiry-info.mobile {
        display: flex;
        flex-direction: row;
        margin-bottom: clamp(25px, 3.5vw, 50px);
        gap: 5px;
    }

    .inquiry-info.mobile .inquiry-icon {
        margin: 0;
        background-color: transparent;
        width: auto;
    }

    .inquiry-info.mobile h6 {
        margin: 0;
    }

}