div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.title {
    background-image: linear-gradient(to top,
            var(--black-50),
            var(--black-50)),

        url('../images/header-stores.jpg');
}

/* ---  HEADQUARTERS  --- */
/* 题目 */
.store-intro {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: -25px;
}

/* 小标题颜色 */
.store-intro .small {
    color: var(--tertiary);
}

.store-intro h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}


/* 总部地图 */
.map-container-large img {
    width: 100%;
    height: auto;
    margin-top: 25px;
    transition: transform 0.3s ease;
}

.map-container-large img:hover {
    transform: scale(1.02);
}

.headquarters h4 {
    margin-bottom: 10px;
}

/* zongbu details box */
.hq-details {
    display: flex;
    justify-content: space-between;
    /* stretch 的意思就是不管content ada多少，大家都拉到一样高 */
    align-items: stretch;
    margin-top: 25px;
    margin-bottom: 40px;

}

.detail-column {
    flex: 1;
    text-align: center;
    padding: 0 20px;
    border-right: 2px solid var(--grey-dark);
}


.detail-column:last-child {
    border-right: none;
}

/* ---STORE LOCATIONS --- */
/* Store Row de box */
.store-row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px
}

/*give him align  */
.store-row h4 {
    margin-bottom: 50px;
}

/* half half with words */
.store-map {
    flex: 1;
}

/* img for the place */
.store-map img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.store-map img:hover {
    transform: scale(1.02);
}

/* words */
.store-info {
    flex: 1;
    margin-top: -210px;
}

/* info de box */
.info-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* words */
.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

/* icon */
.info-item img {
    width: 25px;
    height: auto;
    margin-top: 3px;
}

/* yishang done liao  */

/* --- PROMOTION  --- */
.promotion-section {
    margin-top: 150px;
    text-align: center;
}

.promotion-section .small {
    color: var(--sec-default);
}

.promotion-section h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

}

.promotion-section p {
    margin: auto;
    text-align: center;
    color: var(--grey-dark);
}

/* biaoti wan cheng */
.promo-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 110px;
    margin-bottom: 230px;
}


.promo-card {
    background-color: var(--dark);
    width: 340px;
    min-width: 340px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.promo-card:hover {
    transform: translateY(-10px);
}

.price-tag {
    position: absolute;
    top: -40px;
    left: 40px;
    background-color: var(--sec-default);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


.promo-details {
    width: 100%;

}

.promo-details h4 {
    margin: 0;
    color: var(--black);
    width: 45%;
    text-align: left;
    position: relative;
    z-index: 5;
    margin-top: -90px;
}

.promo-details img {
    position: absolute;
    z-index: 2;
    object-fit: contain;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}



/* Milo */
.promo-card:nth-of-type(1) .promo-details img {
    width: 250px;
    bottom: -30px;
    right: -105px;
}

/* Curry Puff */
.promo-card:nth-of-type(2) .promo-details img {
    width: 380px;
    bottom: -45px;
    right: -75px;
}

/* Kopi O */
.promo-card:nth-of-type(3) .promo-details img {
    width: 300px;
    bottom: -40px;
    right: -30px;
}

/* 因为图片全部大小不一样然后调位置会不一样所以我就用 nth-of-type 单独调 /
/ 其实意思就是每张卡 第一张等于1 要调1就可以写那个class名字 然后他的value要调整的
然后1，2，3顺序的意思 */

/* yihsnagwancheng */

/* ---  DELIVERY  --- */
/* whole delivery box gap */
.delivery-section {
    margin-top: 130px;
    margin-bottom: 145px;
}


.subtitle-text {
    max-width: 700px;
    margin: 20px auto 60px auto;
    color: var(--grey-dark);
}

.delivery-content-box {
    margin-bottom: 60px;
}

/* card de box */
.delivery-grid {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.delivery-card {
    background-color: var(--tertiary);
    width: 344px;
    height: 298px;
    border-radius: 20px;
    padding: 40px 30px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    text-align: left;

}

.delivery-card:hover {
    transform: translateY(-5px);
}

.delivery-card h6 {
    color: var(--white);
    margin-bottom: 20px;
}

.delivery-card p {
    color: var(--white);
    margin-bottom: 30px;
    text-align: left;
}

/* Order Now  */
.order-link {
    color: var(--white);
}

.order-link:hover {
    text-decoration: underline;
}


/* ---  KOPIDIAM WAY --- */
.kopidiam-way-section {
    position: relative;
    margin-top: 250px;
    margin-bottom: 250px;
}


.way-content-box {
    background-color: var(--secondary);
    border-radius: 30px;
    height: 573px;
    width: 1100px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* === 2. 标题 (Tajuk) === */
.way-content-box h3 {
    color: var(--white) !important;
    text-align: center;
    margin: 0;
}

.floating-images {
    position: absolute;
    z-index: 2;
}



.small-circle {
    width: 110px;
    height: 110px;
    top: -50px;
    left: 5%;
}


.medium-circle {
    width: 160px;
    height: 160px;
    top: -120px;
    left: 22%;
}


.second-circle {
    width: 130px;
    height: 130px;
    top: -60px;
    right: 25%;
}


.large-circle {
    width: 220px;
    height: 220px;
    top: -150px;
    right: 5%;
}


/* === 6. 文字和线条 === */
.text-with-lines {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.text-with-lines p {
    color: var(--white) !important;
    text-align: center;
    margin: 0;
    width: 746px;
}

.line {
    height: 1px;
    background-color: var(--white);
    flex: 1;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1024px) {

    .hq-details {
        flex-direction: column;
        gap: 0;
    }

    .detail-column {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid var(--grey-light);
    }


    .detail-column:last-child {
        border-bottom: none;
    }

}