div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.title {
    background-image: linear-gradient(to top,
            var(--black-50),
            var(--black-50)),

        url('../images/header-stores.jpg');
}

/* ---  HEADQUARTERS  --- */
/* 题目 */
.store-intro {
    text-align: center;
    max-width: 974px;
    margin: auto;
}

/* 小标题颜色 */
.store-intro .small {
    color: var(--tertiary);
}

/* 整个box总部 */
.headquarters {
    margin-bottom: 50px;
}

/* 总部地图 */
.map-container-large img {
    width: 100%;
    height: auto;
    margin-top: 25px;
    transition: transform 0.3s ease;
}

.map-container-large img:hover {
    transform: scale(1.02);
}

/* zongbu details box */
.hq-details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* zongbu details */
.detail-column {
    flex: 1;
}


/* ---STORE LOCATIONS --- */
/* Store Row de box */
.store-row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px
}

/*give him align  */
.store-row h4 {
    margin-bottom: 30px;
}

/* half half with words */
.store-map {
    flex: 1;
}

/* img for the place */
.store-map img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.store-map img:hover {
    transform: scale(1.02);
}

/* words */
.store-info {
    flex: 1;
}

/* info de box */
.info-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* words */
.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

/* icon */
.info-item img {
    width: 25px;
    height: auto;
    margin-top: 3px;
}



/* --- PROMOTION  --- */

/* container */
.promotion-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* tajuk */
.text-center {
    text-align: center;
}

/* h3 de juli */
.promotion-section h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* promocard de contaienr */
.promo-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

/* === 卡片盒子 === */
.promo-card {
    background-color: var(--dark);
    width: 344px;
    height: 298px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
    transition: transform 0.3s ease;
}

.promo-card:hover {
    transform: translateY(-10px);
}

/* === PRICE TAG  === */
.price-tag {
    position: absolute;
    top: -30px;
    left: 20px;
    background-color: var(--sec-default);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    z-index: 2;
}

/* === DETAILS & IMAGE=== */
.promo-details {
    width: 100%;
}

.promo-details h4 {
    margin-bottom: 10px;
    width: 60%;
    z-index: 2;
    position: relative;
}

.promo-details img {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 280px;
    height: auto;
    object-fit: contain;
    z-index: 1;
    margin-bottom: -10px;

}

/* ---  DELIVERY  --- */
/* whole delivery box gap */
.delivery-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.subtitle-text {
    max-width: 700px;
    margin: 20px auto 60px auto;
    color: var(--grey-dark);
}

/* card de box */
.delivery-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.delivery-card {
    background-color: var(--tertiary);
    width: 344px;
    height: 298px;
    border-radius: 20px;
    padding: 40px 30px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.delivery-card:hover {
    transform: translateY(-5px);
}

.delivery-card h6 {
    color: var(--white);
    margin-bottom: 20px;
}

.delivery-card p {
    color: var(--white);
    margin-bottom: 30px;
}

/* Order Now  */
.order-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: var(--white);
}

.order-link:hover {
    text-decoration: underline;
}


/* ---  KOPIDIAM WAY --- */
.kopidiam-way-section {
    margin-top: 180px;
    margin-bottom: 50px;
    position: relative;
}


.floating-images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    z-index: 2;
    margin-bottom: -90px;
    pointer-events: none;
}

.circle-img {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--light);
    background-color: #ccc;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.small-circle {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.medium-circle {
    width: 200px;
    height: 200px;
}

.large-circle {
    width: 280px;
    height: 280px;
    margin-bottom: 50px;
}


.way-content-box {
    background-color: var(--secondary);
    border-radius: 30px;
    padding: 140px 60px 80px 60px;
    color: var(--white);
    position: relative;
    z-index: 1;
}

.way-content-box h3 {
    color: var(--white);
    margin-bottom: 40px;
}

.text-with-lines {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: auto;
}

.text-with-lines p {
    color: var(--white);
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
}

.line {
    height: 1px;
    background-color: var(--white);
    flex: 1;
    min-width: 40px;
}