div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.title {
    background-image: linear-gradient(to top,
            var(--black-50),
            var(--black-50)),

        url('../images/header-stores.jpg');
}

/* ---  HEADQUARTERS  --- */
.store-intro {
    text-align: center;
}

.store-intro .small {
    color: var(--tertiary);
}

.headquarters {
    margin-bottom: 100px;

}

.headquarters h2 {
    margin-bottom: 30px;
}

/* 总部地图 */
.map-container-large img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 25px;

}

.hq-details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}

.detail-column {
    flex: 1;
}


/* ---STORE LOCATIONS --- */
.store-row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}


.store-map {
    flex: 1;
}

.store-map img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.store-map img:hover {
    transform: scale(1.02);
}


.store-info {
    flex: 1;
}

.store-info h3 {
    margin-bottom: 30px;
}


.info-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.info-item img {
    width: 25px;
    height: auto;
    margin-top: 3px;
}


.store-row.reverse {
    flex-direction: row-reverse;
}


/* --- PROMOTION  --- */
.promotion-section {
    margin-top: 150px;
    margin-bottom: 100px;
}


.text-center {
    text-align: center;
}

.promotion-section h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}


.promo-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    flex-wrap: wrap;
}


.promo-card {
    background-color: var(--dark);
    width: 300px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    transition: transform 0.3s ease;
}

.promo-card:hover {
    transform: translateY(-10px);
}

.price-tag {
    position: absolute;
    top: -30px;
    left: 20px;
    background-color: var(--sec-default);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}


.promo-details {
    width: 100%;
}

.promo-details h4 {
    margin-bottom: 10px;
}

.promo-details img {
    width: 100%;
    height: 180px;
    margin-bottom: -30px;
}


/* ---  DELIVERY  --- */
.delivery-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.subtitle-text {
    max-width: 700px;
    margin: 20px auto 60px auto;
    color: var(--grey-dark);
}

.delivery-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.delivery-card {
    background-color: var(--tertiary);
    flex: 1;
    padding: 40px 30px;
    border-radius: 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 350px;
    transition: transform 0.3s ease;
}

.delivery-card:hover {
    transform: translateY(-5px);
}

.delivery-card h6 {
    color: var(--white);
    margin-bottom: 20px;
}

.delivery-card p {
    color: var(--white);
    margin-bottom: 30px;
}

/* Order Now  */
.order-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: var(--white);
}

.order-link:hover {
    text-decoration: underline;
}


/* ---  KOPIDIAM WAY --- */
.kopidiam-way-section {
    margin-top: 180px;
    margin-bottom: 50px;
    position: relative;
}


.floating-images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    z-index: 2;
    margin-bottom: -90px;
    pointer-events: none;
}

.circle-img {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--light);
    background-color: #ccc;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.small-circle {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.medium-circle {
    width: 200px;
    height: 200px;
}

.large-circle {
    width: 280px;
    height: 280px;
    margin-bottom: 50px;
}


.way-content-box {
    background-color: var(--secondary);
    border-radius: 30px;
    padding: 140px 60px 80px 60px;
    color: var(--white);
    position: relative;
    z-index: 1;
}

.way-content-box h3 {
    color: var(--white);
    margin-bottom: 40px;
}

.text-with-lines {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: auto;
}

.text-with-lines p {
    color: var(--white);
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
}

.line {
    height: 1px;
    background-color: var(--white);
    flex: 1;
    min-width: 40px;
}