.title {
    background-image:  linear-gradient(var(--black-50), var(--black-50)), url('../images/header-working-at-kopidiam.jpg');
}

.culture {
    padding: clamp(50px, 7vw, 100px) clamp(20px, 12vw, 170px) 0 clamp(20px, 12vw, 170px);
    border-radius: 0;
}

.culture-contents {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: clamp(20px, 6vw, 115px);
}

.culture-contents .group {
    max-width: none;
    align-self: center;
}

.culture-contents .group p:not(.small) {
    margin-bottom: 0;
}

.image {
    width: 45%;
    flex-shrink: 1;
    min-height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.companies {
    padding-bottom: clamp(50px, 7vw, 100px)
}

.dark {
    overflow-x: clip;
}

.paths {
    margin: 0 clamp(-170px, -12vw, -20px);
    padding-bottom: clamp(90px, 14vw, 140px);
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.paths .deco.left {
    transform: scaleX(-1) rotate(-55deg);
    width: 25%;
    top: -3%;
    left: -12%;
}

.paths .deco.right {
    transform: rotate(-55deg);
    width: 15%;
    bottom: -12%;
    right: -4%;
}

.paths .group, .career-paths, .career {
    z-index: 1;
}

.paths .group {
    max-width: clamp(300px, 45vw, 580px);
}

.paths .group p:not(.small) {
    margin-bottom: 50px;
}

.career-paths {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: clamp(15px, 2.5vw, 30px);
    margin-bottom: clamp(20px, 3.5vw, 40px);
}

.career-paths .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--tertiary);
    border-radius: 20px;
    background-color: transparent;
    padding: clamp(10px, 1.5vw, 20px);
    width: 0;
    min-width: 0;
    flex: 1;
    gap: 15px;
    transition: transform 0.3s;
    cursor: pointer;
}

.career-paths .box:hover {
    transform: translateY(-15px);
}

.career-paths .box.active {
    background-color: var(--tertiary);
    position: relative;
    z-index: 1;
}

.career-paths .box.active::after { /* arrow */
    content: "";
    position: absolute;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: var(--tertiary);
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
    bottom: -10px;
    border-radius: 5px;
    z-index: -1; 
}

.career-paths .box .icon-green {
    display: block;
}
.career-paths .box .icon-white {
    display: none;
}

.career-paths .box.active .icon-green {
    display: none;
}

.career-paths .box.active .icon-white {
    display: block;
}

.career-paths .box.active .paths-text {
    color: var(--white);
}

.career-paths .box img {
    width: clamp(30px, 3.5vw, 50px);
}

.paths-text {
    display: flex;
    flex-direction: column;
    font-size: clamp(12px, 0.9vw, 14px);
    line-height: clamp(16.8px, 1.4vw, 19.6px);
    color: var(--black);
    text-transform: uppercase;
    white-space: nowrap;
}

.career {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: clamp(20px, 6vw, 115px);
    background-color: var(--normal);
    padding: clamp(20px, 4vw, 50px);
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.career .image {
    width: 50%;
}

.career-desc {
    align-self: center;
    padding-left: clamp(15px, 3vw, 40px);
}

.career-desc h5 {
    margin-bottom: clamp(15px, 2vw, 25px);
}

.career-desc button {
    margin-top: clamp(40px, 4.2vw, 60px);
}

.centered {
    text-align: center;
}

.benefits {
    display: flex;
    align-items: stretch;
    position: relative;
}

.benefits .image {
    width: 47%;
    border-radius: 0 0 30px 0;
}

.benefits .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: clamp(35px, 3.5vw, 50px);
    padding-right: clamp(60px, 7vw, 100px);
    max-width: none;
    background-color: var(--secondary);
    border-top-left-radius: 30px;
    margin: clamp(-40px, -2.8vw, -30px) 0 clamp(30px, 2.8vw, 40px) 0;
}

.benefits .group h4, .benefits .group p:not(.small) {
    color: var(--white);
}

.benefits .group p.desc {
    color: var(--white);
    margin-bottom: clamp(20px, 3vw, 40px);
}

.check-icon-wrapper {
    padding: 5px;
    background-color: var(--white-20);
}

.philosophy .group {
    max-width: clamp(320px, 52vw, 750px);
}

.philosophy .group p:not(.small) {
    margin-bottom: 50px;
}

.philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.deco.left-top {
    top: -5%;
    left: -5%;
    transform: scaleX(-1) rotate(-40deg);
    width: 13%;
    z-index: -1;
}

.deco.left-bottom {
    top: -5%;
    left: -2%;
    transform: rotate(20deg);
    width: 15%;
    z-index: -1;
}

.sqr-group {
    width: 100%;
}

.mission {
    background-image:  linear-gradient(var(--black-60), var(--black-60)), url('../images/our-mission.jpg');
}

.vision {
    background-image:  linear-gradient(var(--black-60), var(--black-60)), url('../images/our-vision.jpg');
}

.values {
    background-image:  linear-gradient(var(--black-60), var(--black-60)), url('../images/our-values.jpg');
}

.statsbar {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin-top: clamp(50px, 8vw, 90px);
    width: 100%;
}

.stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* TABLET PORTRAIT & MOBILE */
@media screen and (max-width: 768px) {

    .culture-contents, .retail {
        flex-direction: column-reverse;
    }

    .image {
        width: 100%;
    }

    .career {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .career .image {
        width: 100%;
        aspect-ratio: 5 / 3;
        
    }

    .career-paths {
        flex-wrap: wrap;
    }

    .career-paths .box {
        flex: 0 0 30%; 
    }

    .career-paths .box:hover{
        transform: scale(1.05);
    }

    .career-paths .box.active::after {
        display: none;
    }

    .benefits {
        flex-direction: column;
    }

    .benefits .image {
        width: 100%;
        margin-top: clamp(-40px, -2.8vw, -30px);
        border-radius: 0 30px 0 0;
    }

    .benefits .group {
        padding-top: clamp(40px, 6vw, 80px);
        padding-bottom: clamp(40px, 6vw, 80px);
        margin-top: clamp(-200px, -12vw, -120px);
    }

}

/* TABLET LANDSCAPE */
@media screen and (max-width: 1024px) {

    .culture {
        padding: clamp(30px, 8vw, 80px) clamp(15px, 6vw, 60px) 0 clamp(15px, 6vw, 60px);
    }

    .companies {
        padding-bottom: clamp(50px, 7vw, 100px);
    }

    .paths {
        margin-left: clamp(-60px, -6vw, -15px);
        margin-right: clamp(-60px, -6vw, -15px);
    }

    .career-desc {
        align-self: center;
        padding: 0;
    }

}

/* ADJUSTMENTS */
@media screen and (max-width: 400px) {

    .career-paths .box {
        flex: 0 0 47%;
    }

}

@media screen and (max-width: 300px) {

    .career-paths .box {
        flex: 0 0 100%;
    }

}

@media screen and (max-width: 325px) {

    .statsbar {
        flex-direction: column;
    }

}