body {
    background-color: rgb(246, 245, 239);
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
}

.header {
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    min-height: 50px;
    max-width: 1800px;
    margin: auto;
}

a {
    text-decoration: none;
}

.menubar a {
    color: rgb(26, 36, 33);
    line-height: 24px;
    transition: color 0.3s ease;
}

a.services {
    color: rgb(249, 97, 43);
}

.menubar a:hover {
    color: rgb(249, 97, 43);
}

.phone {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(26, 36, 33);
    font-weight: 700;
    transition: color 0.3s ease;
}

.phone:hover {
    color: rgb(100, 100, 99);
}

.button {
    font-size: 14px;
    background-color: rgb(249, 97, 43);
    border-radius: 7px;
    padding: 13px 18px;
    transition: background-color 0.3s ease;
}

.button a {
    color: white;
}

.button:hover {
    background-color: rgb(224 88 39);
}

.contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menubar {
    display: flex;
    gap: 30px;
}

.logo img {
    width: 100%;
    max-width: 175px;
}

.phone img {
    width: 100%;
    max-width: 20px;
}

.hamburger img {
    width: 100%;
    max-width: 24px;
}

@media screen and (min-width: 1280px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .menubar {
        display: none;
    }

    .button {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .phone {
        display: none;
    }
}